<template>
  <div>
    CourseID: {{$router.params.detailId}}
  </div>
</template>

<script>
  export default {
    name: "CourseDetail",
    data() {
      return {

      }
    },
    methods: {

    },
    created: {

    }
  };
</script>

<style scoped>

</style>
