<template>
  <div class="container">
    <el-carousel indicator-position="outside" height="400px">
      <el-carousel-item v-for="item in lunboImgs" :key="item.id">
        <img :src="item.imgSrc" alt="">
      </el-carousel-item>
    </el-carousel>
    <Course/>
  </div>
</template>

<script>
  import Course from "@/components/Course/Course"

  export default {
    name: "Home",
    data() {
      return {
        lunboImgs: [
          {
            id: 1,
            imgSrc: 'http://test.huashenxt.com:3000/upload/1djgrdotal52j6syohvg2u14gtavopt.jpg'
          },
          {
            id:2,
            imgSrc:'https://file.huashenxt.com/upload/1di1t2oirr0292j4yh3tr0jlxsxrpuy.png'
          },
          {
            id:3,
            imgSrc:'https://hcdn1.luffycity.com/static/frontend/index/banner3_1567492242.652474.png'
          }
        ]
      }
    },
    components: {
      Course
    }
  }
</script>

<style lang="scss" scoped>
  img{
    width: 100%;
    height: 380px;
  }
</style>
