<template>
  <!-- element-ui -->
  <el-container>
    <el-header height = '65px' >
      <div class="header">
        <div class="nav-left">
          <img src="/static/assets/img/brand/logo.png" alt="">
        </div>
        <div class="nav-center">
          <ul>
            <li v-for="(list, index) in headerList" :key="list.id">
              <!-- 使用to='{name:list.name}'设置命令路由 -->
              <router-link :to="{name:list.name}">
                {{list.title}}
              </router-link>
            </li>
          </ul>
        </div>
        <div class="nav-right">
          <span>登录</span>
          &nbsp;| &nbsp;
          <span>注册</span>
        </div>
      </div>
    </el-header>
  </el-container>
</template>

<script>
  export default {
    name: "Header",
    data() {
      return {
        headerList: [
          {id: '1', name: 'Home', title: '首页'},
          {id: '2', name: 'Course', title: '课程'},
          {id: '3', name: 'FreeCourse', title: '免费课程'},
          {id: '4', name: 'MicroCourse', title: '学位课程'}
        ],
        isShow: false
      }
    }
  }
</script>

<style lang="scss" scoped>
  .el-header{
    border-bottom: #c9c9c9;
    box-shadow: 0 0.5px 0.5px 0 #c9c9c9;
  }
  .header{
    width: 100%;
    height: 65px;
    line-height: 65px;
    margin: 0 auto;
  }
  .nav-left{
    float: left;
    margin-top: 10px;
  }
  .nav-center{
    float: left;
    margin-left: 100px;
    ul{
      overflow: hidden;
      li{
        float: left;
        margin: 0 5px;
        /*width: 100px;*/
        padding: 0 20px;
        height: 65px;
        line-height: 65px;
        text-align: center;
        a{
          color: #4a4a4a;
          width: 100%;
          height: 50px;
          display: inline-block;
          &:hover{   /* &代表父元素 */
            color: #B3B3B3;
          }
        }
      }
    }
  }
  .nav-center ul li a.is-active{  /* 链接激活样式 */
    color: #4a4a4a;
    border-bottom: 4px solid #ffc210;
  }
  .nav-right{
    float: right;
    position: relative;
    z-index: 100;

  }
  .nav-right span{
    cursor: pointer;
  }
  .nav-right .user{
    margin-left: 15px;
  }
  .nav-right img{
    width: 26px;
    height: 26px;
    border-radius: 50%;
    display: inline-block;
    vertical-align: middle;
    margin-left: 15px;
  }
  .nav-right  ul{
    position: absolute;
    width: 221px;
    z-index: 100;
    font-size: 12px;
    top: 80px;
    background: #fff;
    border-top: 2px solid #d0d0d0;
    box-shadow: 0 2px 4px 0 #e8e8e8;
  }
  .nav-right ul li{
    height: 40px;
    color: #4a4a4a;
    padding-left: 30px;
    padding-right: 20px;
    font-size: 12px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    transition: all .2s linear;
  }
  .nav-right ul li span.msg{
    margin-left: -80px;
    color: red;
  }
  .nav-right ul li span.count{
    margin-left: -100px;
    color: red;
  }
</style>
