<template>
  <div id="app">
    <!-- 导航区域 -->
    <Header/>
    <router-view/>
  </div>
</template>

<script>
  import Header from "@/components/Common/Header"

  export default {
    name: 'App',
    components: {
      Header
    }
  }
</script>
